body {
  font-family: "Poppins";
  background-color: #FAFAFA;
}

.carousel-inner img,
.carousel-inner p,
.carousel-inner h5 {
  margin: auto;
  text-align: center;
}

.carousel-control-prev-icon {
  background-image: url('../assets/svg/next.svg')
}

.carousel-control-next-icon {
  background-image: url('../assets/svg/next-1.svg')
}

#hero {
  margin-top: -80px;
  height: 645px;
  background-image: url(../assets/svg/Path\ 4.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.hero {
  color: #fff;
}

.hero-image {
  padding-top: 80px;
}

.section-title {
  padding-top: 80px;
}

.navbar-custom {
  background-color: transparent;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
}

.navbar-custom .navbar-brand:hover {
  color: rgb(203, 228, 210);
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff;
}

/* .navbar-custom .navbar-nav > .active > .nav-link > a{
    color: #fff;
    background-color: red;
  } */

.navbar-custom .nav-item:hover .nav-link {
  color: rgb(203, 228, 210);
}

.contact-us {
  color: #034561;
  font-weight: 500;
  background-color: #fff;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  border: 0px;
  margin-right: 10px;
}

.contact-us:hover {
  color: #043d55;
  font-weight: 500;
  background-color: rgb(231, 231, 231);
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  border: 0px;
  margin-right: 10px;
}

.watch {
  color: #fff;
  font-weight: 500;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  border: 0px;
}

.watch:hover {
  color: #fff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
  border: 0px;
}

.h1-hero {
  font-size: 44px;
  margin-bottom: 25px;
}


.p-hero {
  font-size: 16px;
  margin-bottom: 30px;
}

.why-row {
  margin-top: 60px;
  float: left;
}

.why-col {
  text-align: center;
  float: left;
}


.footer-col {
  text-align: center;
  margin-top: 70px;
}

.h5-footer {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.why-title {
  font-size: 20px;
  font-weight: 500px;
}

.why-desc {
  font-size: 14px;
}

.why-body {
  background-color: #fff;
  margin: 30px;
  padding: 40px;
  border-radius: 10px;
}

.why-title {
  font-size: 20px;
  font-weight: 500;
}

.why-p-desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.why-svg {
  margin-top: -110px;
}

.why-svg-icon {
  margin-top: -160px;
}

.what-they-say {
  text-align: center;
}

.h1-what {
  margin-bottom: 30px;
}

.h5-what {
  margin-top: 30px;
}

.p-what {
  margin-bottom: 30px;
}

.p-what-desc {
  margin-bottom: 30px;
  width: 60%;
}

#footer {
  padding: 0px;
  height: 208px;
  background-image: url(../assets/svg/Path30.svg);
  margin-top: -100px;
}


.fixed-top.scrolled {
  background-color: #47A98F !important;
  transition: background-color 200ms linear;
}

html {
  scroll-behavior: smooth;
}

#testimonial {
  background-image: url('../assets/svg/Path\ 27.svg'), url('../assets/svg/Path\ 29.svg'), url('../assets/svg/Path\ 28.svg');
  background-repeat: no-repeat;
  margin-top: 870px;
  padding-bottom: 180px;
}

@media (max-device-width: 374px) {
  .why-col {
    margin-top: 30px;
  }

  #hero {
    padding-bottom: 200px;
  }

  .navbar-custom {
    background-color: rgb(35, 151, 138);
  }

  .h1-hero {
    margin-top: 150px;
  }

  .watch {
    margin-top: 15px;
  }

  .footer-col {
    margin-top: 100px;
    font-size: 12px;
  }

  .h5-footer {
    font-size: 16px;
  }

  #testimonial {
    bottom: 0px;
    margin-top: 2300px;
  }

  .hero-image {
    display: none;
  }

}

@media (min-device-width: 375px) and (max-device-width: 400px) {
  .why-col {
    margin-top: 30px;
  }

  #hero {
    padding-bottom: 200px;
  }

  .navbar-custom {
    background-color: rgb(35, 151, 138);
  }

  .h1-hero {
    margin-top: 150px;
  }

  .watch {
    margin-top: 15px;
  }

  .footer-col {
    margin-top: 100px;
    padding-bottom: 30px;
  }

  #testimonial {
    bottom: 0px;
    margin-top: 1900px;
  }

  .hero-image {
    display: none;
  }
}

@media (min-device-width: 401px) and (max-device-width: 767px) {

  #hero {
    margin-top: -110px;
  }

  .hero {
    padding-top: 110px;
  }

  .navbar-custom {
    background-color: rgb(35, 151, 138);
  }

  /* .fixed-top.scrolled {
    background: rgb(35, 151, 138) !important;
    transition: background-color 200ms linear;
  } */

  .hero {
    margin-top: 100px;
  }

  .hero-image {
    display: none;
  }

  .d-flex p {
    padding: 20px;
  }

  /* .why-row {
    margin-top: 10px;
  } */

  .why-col {
    margin-top: 50px;
  }

  .footer-col {
    margin-top: 100px;
    padding-bottom: 30px;
  }

  #testimonial {
    background-image: url('../assets/svg/Path\ 27.svg'), url('../assets/svg/Path\ 29.svg'), url('../assets/svg/Path\ 28.svg');
    background-repeat: no-repeat;
    bottom: 0px;
    margin-top: 1950px;
  }

  .class-testi {
    margin-top: 250px;
  }

}

@media (min-device-width: 768px) and (max-device-width: 991px) {
  .why-col {
    margin-top: 50px;
  }

  #hero {
    margin-top: -150px;
  }

  .hero {
    padding-top: 230px;
  }

  .hero-image {
    padding-top: 210px;
  }

  .navbar-custom {
    background-color: rgb(35, 151, 138);
  }

  .footer-col {
    padding-top: 10px;
  }

  #testimonial {
    background-repeat: no-repeat;
    bottom: 0px;
    margin-top: 1100px;
  }
}

@media (min-device-width: 911px) and (max-device-width: 1199px) {
  #hero {
    margin-top: -150px;
  }

  .why-col {
    margin-top: 50px;
  }

  .hero {
    padding-top: 120px;
  }

  .hero-image {
    padding-top: 150px;
  }

  .navbar-custom {
    background-color: rgb(35, 151, 138);
  }

  .footer-col {
    padding-top: 10px;
  }

  #testimonial {
    background-repeat: no-repeat;
    bottom: 0px;
    margin-top: 900px;
  }
}